

<div style="padding: 35px;">
    <div class="d-lg-flex justify-content-between" style="padding: 30px;">
        <h1 class="main-font bold">My Wishlist</h1>
        <div class="rev-button" style="width: 50%;" [routerLink]="['/main/create-wishlist']">Create New Item to Add to Wishlist</div>
    </div>

    <div class="container">
        <div class="row justify-content-around">
            <ng-container *ngIf="itemList.wishlist" >
                <div *ngFor="let item of itemList.wishlist" class="col-lg-6 col-md-6 col-xs-12" style="padding: 15px;">
                        <app-item-card [itemName]="item.itemName" [vendorName]="item.vendor" [itemPrice]="item.price" [imageUrl] = "item.image" [url]="item.url" [itemId]= "item._id" buttonName="Delete from Wishlist" (buttonClick2)="deleteItemFromWislist()"></app-item-card>
                </div>
            </ng-container>
        </div>
    </div>
</div>

