<!-- <h1>{{title}}</h1>

<img src="../assets/GoGiftLogo.png" alt="GoGigtLogo" width="200" height="200">

<div class="topnav">
    <a routerLink="/dashboard">Dashboard</a> <br><br>

    <a routerLink="/user">Users</a> <br> <br>

    <a routerLink="/friend">Friend Info</a>

    <br>


</div> -->
<div class="container-fluid p-0">
    <div class="row">
        <div class="col-lg-4 d-lg-flex p-0 justify-content-center align-items-end main-left">
            <div style="width: 100%;">
                <img src="../assets/gogift-navbar.png" style="width: 200px; position: absolute; left: 20px; top: 0;" alt="go-gift logo">
                <!-- TODO: in the future, need to change profile image and name based on the user -->
                <img src="../assets/white-seahorse-profile.png" style="margin-left: 30%; width: 252px;" alt="white seahorse user profile image">
                <h2 class="main-font bold" style="color: white; text-align: center; margin-top: 50px; margin-bottom: 40px; font-size: 3.6em">White Seahorse</h2>
                <div style="height: 100%;">
                    <div class="nav-item">Home<a routerLink="/dashboard"><span class="link-panel"></span></a></div>
                    <div class="nav-item">Profile<a routerLink="/profile"><span class="link-panel"></span></a></div>
                    <div class="nav-item">Find Friends<a routerLink="/find-friends"><span class="link-panel"></span></a></div>
                    <div class="nav-item">Search Gift Ideas<a routerLink="/search"><span class="link-panel"></span></a></div>
                    <div class="nav-item">See My Wishlist<a routerLink="/display-wishlist"><span class="link-panel"></span></a></div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 p-0 main-right" style="overflow: scroll;">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>


<!-- <app-navigation><app-navigation> -->
<!-- <app-messages></app-messages> -->
