<div>
  <div id="container">
  <h1> Find Friends</h1>
  <div id="inputBox">
    <input #email (keyup)="onSearch(email.value)" />
    <div><button style="margin-bottom: 1.5rem;">search</button></div>
    <hr style="margin-bottom: 2rem;">
    <button style="padding: 1.25rem 2rem 1rem 2rem">Invite Friend</button>
    <hr>
  </div>
  <div>
  <h1>My Friends<img src="../../assets/EditIcon.png"></h1>
  <ul class="users">
      <span >
        
       
       <li *ngFor="let user of friend" class="col-1-4">
  
           FirstName:{{user.firstName}} <br>
           LastName: {{user.lastName}} <br>
           Bio: {{user.bio}} <br>
           Email:  {{user.email}} <br> 
           Profile Image:{{user.profileImg}}     
       
       
       </li>     
  </span>  
      
  </ul>
  </div>
  </div>