/* HeroesComponent's private CSS styles */
#container{
  margin: 0 auto;
  width: 75%;
  font-family: 'Josefin Sans', sans-serif;
}
.ngbModal{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem;
}
.close{
  font-size: 3rem;
}
h2 {
  font-weight: bold;
}
h1{
  font-weight: bold;
  margin: 2rem 0;
}
#inputBox{
  text-align: center;
  line-height: 2;
  font-size: 2rem;
}
img{
  float:right;
  height: 5rem;
  width: 5rem;
}
input{
  border-width: 0.5rem;
  border-color: black;
  width: 100%;
  line-height: 2.5;
  margin-bottom: 2rem;
}
hr{
  border-top: 0.25rem solid;
  border-color: black;
}
button{
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 1.75rem;
  padding: 0.5rem 2rem;
  margin-bottom: 1rem;
}
.users {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 30em;
  }
  .users li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: violet;
    margin: .5em;
    padding: .3em 0;
    height: 90px;
    border-radius: 4px;
  }
  .users li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .users li.selected {
    background-color: #CFD8DC;
    color: white;
  }
  .users li.selected:hover {
    background-color: #BBD8DC;
    color: white;
  }
  .users .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#405061;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }