<div>
  <div id="container">
  <h1> Find Friends</h1>
  <div id="inputBox">
    <input #email />
    <div><button style="margin-bottom: 1.5rem;" (click)="this.onSearch(email.value)">search</button></div>
    <hr style="margin-bottom: 2rem;">
    <button style="padding: 1.25rem 2rem 1rem 2rem" (click)="this.openModal(addFriend)">Invite Friend</button>
    <hr>
  </div>
  <div>
  <h1>My Friends<img src="../../assets/EditIcon.png"></h1>
  <ul class="users">
      <span >
       <li *ngFor="let user of friend" class="col-1-4" (click)="this.openModal(showFriend)">
           FirstName:{{user.firstName}} <br>
           LastName: {{user.lastName}} <br>
           Bio: {{user.bio}} <br>
           Email:  {{user.email}} <br> 
           Profile Image:{{user.profileImg}}     
       </li>     
  </span>  
      
  </ul>
  </div>
  </div>

  <ng-template #addFriend let-modal>
    <div class="modal-header ngbModal">
      <h2>Invite Friend</h2>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body ngbModal">
      <span>Email:</span>
      <input #invite />
      <div class="text-center"><button (click)="sendInvite(invite.value)">Send</button></div>  
    </div>
  </ng-template>

  <ng-template #showFriend let-modal>
    <div class="modal-header ngbModal">
      <h4 class="modal-title" id="modal-basic-title">Friend Modal Coming Up!!!</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body ngbModal">
      Friend Details will be here.
    </div>
    <div class="modal-footer ngbModal">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
    </div>
  </ng-template>