
  <div id="container">
    <div [ngClass]="{'leftMain':showMain, 'panelLeft':!showMain}">
      <h1> Find Friends</h1>
      <div id="inputBox">
        <input #email (keyup.enter)="this.onSearch(email.value)"/>
        <div><button style="margin-bottom: 1.5rem;" (click)="this.onSearch(email.value)">search</button></div>
        <div class="searchResult users m-0 text-left" *ngIf=searchResult>
          Result:<br>
          <li class="col-1-4" >
          FirstName:{{searchResult.firstName}}<br>
          LastName: {{searchResult.lastName}} 
          </li>
        </div>
        <hr style="margin-bottom: 2rem;">
        <button style="padding: 1.25rem 2rem 1rem 2rem" (click)="this.openModal(addFriend)">Invite Friend</button>
        <hr>
      </div>
      <h1>My Friends<img src="../../assets/EditIcon.png"></h1>
      <ul class="users">
        <span>
          <li *ngFor="let user of friend" class="col-1-4" (click)="getCurrentUser(user._id)">
            FirstName:{{user.firstName}} <br>
            LastName: {{user.lastName}}  
          </li>     
        </span>  
      </ul>
    </div>

    <div [ngClass]="{'rightMain':!showMain, 'panelRight':showMain}">
      <div class="modal-header ngbModal mt-5">
        <button type="button" class="close" aria-label="Close" (click)="this.showMain = !this.showMain">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body ngbModal row" *ngIf="this.selectedUser">
        <div class="col-5">
          <img class="profileImg" src="../assets/white-seahorse-profile.png"/>
          <!-- <button class="profileBtn mt-5" (click)="saveFriendId(this.selectedUser._id)" [routerLink]="['/friend-wishlist']" [state]="{ friendId: '5fbd5f785814945baedc06bc' }">See My Wishlist</button> -->
          <button class="profileBtn mt-5" (click)="saveFriendId(this.selectedUser._id)" [routerLink]="['/friend-wishlist']" [state]="{ friendId: '5fbd71a6620f1164e5a3142d' }">See My Wishlist</button>
        </div>
        <div class="col-7">
          <div class="profileBody">
            {{this.selectedUser.firstName}} {{this.selectedUser.lastName}} <br>
            {{this.selectedUser.bio}}
          </div>
          <div class="tag" *ngFor="let tag of selectedUser.tag" [routerLink]="['/search', tag.name]" [state]="{ page: 'friend' }">{{tag.name}}</div>
        </div>
      </div>
    </div>
  </div>
<ng-template #addFriend let-modal>
  <div class="modal-header ngbModal">
    <h2>Invite Friend</h2>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body ngbModal">
    <span>Email:</span>
    <input #invite (keyup.enter)="sendInvite(invite.value)"/>
    <span *ngIf=retMsg>{{this.retMsg.msg}}</span>
    <div class="text-center"><button (click)="sendInvite(invite.value)">Send</button></div>  
  </div>
</ng-template>