<div class="container-fluid p-0">
    <div class="row">
        <!--Profile Menu Component-->
        <div class="col-lg-4 d-lg-flex justify-content-center align-items-center main-left p-0">
            <div>
                <img src="../../assets/gogift-navbar.png" style="width: 500px" alt="go-gift logo">
                <img src="../../assets/white-seahorse-profile.png" style="margin-left: 25%;" alt="white seahorse user profile image">
                <h2 class="main-font bold" style="color: white; text-align: center; margin-top: 50px; font-size: 3.6em">White Seahorse</h2>
                <div class="nav-item"><a routerLink="/user"><span class="test">Profile</span></a></div>
                <div class="nav-item">Find Friends</div>
                <div class="nav-item">Search Gift Ideas</div>
                <div class="nav-item">See My Wishlist</div>
            </div>
        </div>
        <!--end of Profile Menu Component-->
        <div class="col-lg-8 p-0 main-right">
        </div>
    </div>
</div>