<div class="sub-font" style="padding: 35px;">
    <div class="section">
        <h1 class="main-font bold">Create Account</h1>
	</div>
	<div style="margin-top: 25px; font-size: 1.6em;">
		<div class="form-group">
			<label for="firstName">First Name: </label>
			<input type="text" class="form-control" id="firstName" [(ngModel)]="account.firstName">
		</div>
		<div class="form-group">
			<label for="lastName">Last Name: </label>
			<input type="text" class="form-control" id="lastName" [(ngModel)]="account.lastName">
		</div>
		<div class="form-group">
			<label for="email">Email: </label>
			<input type="text" class="form-control" id="email" [(ngModel)]="account.email">
		</div>
		<div class="form-group">
			<label for="bio">Talk about your interests and gift preferences: </label>
			<textarea class="form-control" id="bio" name="bio" rows="4" cols="60" [(ngModel)]="account.bio"></textarea>
		</div>
		<div class="form-group">
			<label for="profileImg">Select a Profile Image: </label>
			<input type="file" class="form-control" id="profileImg" name="profileImg" [(ngModel)]="account.profileImg" (change)="onFileSelection($event)">
		</div>
		<div *ngIf="hasImg">
			<img [src]="imagePath" alt="profile image preview" style="width: 500px;">
		</div>
		<div class="row justify-content-start">
			<div class="sub-font" style="padding-left: 35px; font-size: 1.6em;">Add Tags <span style="margin-left: 25px; border-left: 3px solid black;"></span></div>
			<ng-container *ngIf="addedTagsArray">
				<div class="tag" style="font-size: 1.4em;" *ngFor="let tag of addedTagsArray">{{tag}}</div>
			</ng-container>
			<app-add-chip (clickFun)="openAddTagsModal()"></app-add-chip>        
		</div>
		<div class="rev-button" type="button" style="margin-top: 25px; position: relative;" (click)="CreateProfile()">Create</div>
	</div>
</div>
