<!-- <div class="row" *ngIf="this.selectedUser">
    <div class="col-5">
      <img class="profileImg" src=""/>
      <button class="profileBtn mt-5" (click)="saveFriendId(this.selectedUser._id)" [routerLink]="['/friend-wishlist']" [state]="{ friendId: this.selectedUser._id }">See My Wishlist</button>
    </div>
    <div class="col-7">
      <div class="profileBody">
        {{this.selectedUser.firstName}} {{this.selectedUser.lastName}} <br>
        {{this.selectedUser.bio}}
      </div>
      <div class="tag" *ngFor="let tag of selectedUser.tag" [routerLink]="['/search', tag.name]" [state]="{ page: 'friend' }">{{tag.name}}</div>
    </div>
</div> -->