<div style="padding: 35px;">
    <h1 class="main-font"> Search Gift Ideas</h1>
    <app-tags-autocomplete buttonName="Search" (enterFunc)="searchItems($event)" (clickFunc)="searchItems($event)"></app-tags-autocomplete>


    <div [hidden]="hideSearchResults" style="margin-top: 35px;">
        <div *ngIf="message">
            <h2 class="sub-font">{{message}}</h2>
        </div>
        <div *ngIf="itemList">
            <ul *ngFor="let item of itemList">
                <app-item-card [itemName]="item.itemName" [vendorName]="item.vendor"></app-item-card>
                <li>{{item.url}}</li>
            </ul>
        </div>
    </div>
</div>