<div style="padding: 35px;">
    <div class="section">
        <h1 class="main-font">Welcome <strong>{{profileWithImg.firstName}} {{profileWithImg.lastName}}</strong></h1>
    </div>
    <div class="sub-font">
        <h3 style="margin-bottom: 20px; margin-top: 20px;">This is your dahboard. Here is some information about you.</h3>
        <h5>Email: {{profileWithImg.email}}</h5>
        <h5>Gift Preferences: {{profileWithImg.bio}}</h5>
        <ng-container *ngIf="profileWithImg.tag">
            <h5>Tags:</h5>
            <div *ngFor="let tag of profileWithImg.tag" class="tag">{{tag.name}}</div>
        </ng-container>
    </div>      
    <div class="container"> 
        <div class="headerbar">     <button mat-raised-button color="primary" (click)="logout()">Logout</button>  
</div>
            