<mat-card style="width: 30%;">
    <mat-card-header>
      <mat-card-title class="main-font">{{itemName}}</mat-card-title>
      <mat-card-subtitle class="main-font">{{vendorName}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/white-seahorse-profile.png" style="margin-left: auto; margin-right: auto; width: 50%; display: block;" alt="white seahorse">
    <mat-card-content class="sub-font" style="padding-left: 30px; padding-right: 30px;" *ngFor="let des of descriptionArray">
      <p>{{des}}</p>
    </mat-card-content>
    <mat-card-actions style="display: block; padding-left: 30px; padding-right: 30px;">
      <div class="rev-button" style="height: 60px; line-height: 40px; padding: 10px; margin-bottom: 20px;">Add to Wishlist</div>
      <div class="rev-button" style="height: 60px; line-height: 40px; padding: 10px;" type="button" (click)="goToItemUrl()">See Item Details</div>
    </mat-card-actions>
</mat-card>