<mat-card style="width: 30%;">
    <mat-card-header>
      <mat-card-title>{{itemName}}</mat-card-title>
      <mat-card-subtitle>{{vendorName}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/white-seahorse-profile.png" style="margin-left: auto; margin-right: auto; width: 50%; display: block;" alt="white seahorse">
    <mat-card-actions style="display: block;">
      <div class="button" style="height: 60px; line-height: 40px; padding: 10px; margin-bottom: 5px;">Add to Wishlist</div>
      <div class="button" style="height: 60px; line-height: 40px; padding: 10px; margin-bottom: 5px;">See Item Details</div>
    </mat-card-actions>
  </mat-card>