<div style="padding: 35px;">
    <div class="section d-lg-flex justify-content-center">
        <div class="button">Edit Personal Info</div>
    </div>
    <app-header-edit title="My Profile"></app-header-edit>
    <div class="sub-font section">{{user.bio}}</div>
    <app-header-edit title="My Tags"></app-header-edit>
    <div class="d-lg-flex justify-content-start">
        <div class="tag"></div>
        <div class="tag"></div>
    </div>
</div>

<!-- <h2> My Users</h2>
<ul class="users">
        <span>
     
 FirstName:{{user.firstName}} <br>
 LastName: {{user.lastName}} <br>
 Bio: {{user.bio}} <br>
 Email:  {{user.email}} <br> 
 Profile Image:{{user.profileImg}}     
     
</span>  
</ul>
 -->
