<div style="padding: 35px;">
    <div class="section d-lg-flex justify-content-center">
        <div style="width: 100%;">
            <div class="button" style="width: 500px;" (click)="openProfile()">See Personal Info</div>
        </div>
        <div style="width: 100%;" [hidden]="hideProfile">
            <app-header-edit title="My Personal Information" (clickFunc)="editProfile()"></app-header-edit>
            <div class="sub-font bold" [hidden]="!hideEditProfile">{{userProfile.firstName}} {{userProfile.lastName}}</div>
            <div class="sub-font" [hidden]="!hideEditProfile">Email: {{userProfile.email}}</div>
            <label [hidden]="hideEditProfile">First Name: </label><input type="text" class="sub-font" [hidden]="hideEditProfile" [(ngModel)]="userProfile.firstName"><br />
            <label [hidden]="hideEditProfile">Last Name: </label><input type="text" class="sub-font" [hidden]="hideEditProfile" [(ngModel)]="userProfile.lastName"><br />
            <label [hidden]="hideEditProfile">Email: </label><input type="text" class="sub-font" [hidden]="hideEditProfile" [(ngModel)]="userProfile.email">
            <div class="button" [hidden]="hideEditProfile" (click)="updateProfile()" style="margin-top: 25px;">Update</div>
        </div>        
    </div>
    <div class="section d-lg-flex justify-content-center">
        <div style="width: 100%;">
            <div class="button" style="width: 500px;" (click)="openImage()">See Profile Picture</div>
        </div>
        <div style="width: 100%;" [hidden]="hideImage">
            <app-header-edit title="My Profile Image" (clickFunc)="editImage()"></app-header-edit>
            <img [hidden]="!hideEditImage" [src]="imageData" style="width: 150px;" alt="current profile picture">
            <div class="form-group" [hidden]="hideEditImage">
                <label for="profileImg" class="input-file">Update Profile Image</label>
                <input type="file" class="form-control" id="profileImg" name="profileImg" [(ngModel)]="userProfile.profileImg" (change)="onFileSelection($event)">
            </div>
            <img [hidden]="hideEditImage" [src]="changedImageData" style="width: 150px;" alt="current profile picture">
            <div class="button" [hidden]="hideEditImage" (click)="updateImage()" style="margin-top: 25px;">Update</div>
        </div>        
    </div>
    <app-header-edit title="My Gift Bio" (clickFunc)="editBio()"></app-header-edit>
    <div [hidden]="hideDisplay" class="sub-font section">{{userProfile.bio}}</div>
    <div [hidden]="!hideDisplay" class="sub-font section">
        <textarea id="bio" name="bio" rows="4" cols="60" [(ngModel)]="userProfile.bio"></textarea>
        <div class="button" (click)="updateBio()" style="margin-top: 25px;">Update</div>
    </div>    
    <app-header-edit title="My Tags" (clickFunc)="editTags()"></app-header-edit>
    <div class="d-lg-flex flex-wrap justify-content-start">
        <div class="tag" [hidden]="hideOriginalTags" *ngFor="let tag of userProfile.tag;" [routerLink]="['/main/search', tag.name]" [state]="{ page: 'user' }">{{tag.name}}</div>
        <div class="tag" [hidden]="!changedTag" *ngFor="let addedTag of addedTagsArray" [routerLink]="['/main/search', addedTag]" [state]="{ page: 'user' }">{{addedTag}}</div>
        <ng-container *ngIf="addedTagsArray">
            <app-removable-chip [hidden]="hideEditTags" *ngFor="let addedTag of addedTagsArray" [tagName]="addedTag" (clickFunc)="deleteTagName(addedTag)"></app-removable-chip>
        </ng-container>        
        <app-add-chip [hidden]="hideEditTags" (clickFun)="openAddTagsModal()"></app-add-chip>       
    </div>
    <div class="d-flex justify-content-end" style="margin-top: 15px;">
        <div type="button" class="button" [hidden]="hideEditTags" style="width: 45%;" (click)="updateTagsInUserDoc()">Update My Tags</div>
    </div>
    
</div>

